@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#about-me {
    margin: auto auto;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #1a1919;
    transition: transform 0.3s ease, color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    text-align: center;
}


.about-container {
    border-radius: 10px;
    padding: 5px;
    border: solid 1px rgb(40, 40, 40);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px; 
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-container:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
}
.about-container img {
    max-width: 150px;
    border-radius: 8px;
    margin-right: 20px;
}

.about-container p {
    max-width: 600px;
}


body {
    background-color: rgb(40, 40, 40);
    font-family: Arial, sans-serif;
    background-color: #1a1919;
    color: white;
    margin: 0;
    padding: 0;
    
}

* {
    font-family: Roboto;
    color: white;
    text-align: center;
    align-items: center;
}

#page-content {
    position: absolute;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 20px; 
    padding: 20px;

    /* Horizontal centering */
    left: 50%;
    transform: translateX(-50%);
}


.thumbnail {
    width: 320px; /* Fixed width for each thumbnail */
    border-radius: 10px;
    overflow: hidden;
    color: gray; 
    border: solid 1px rgb(40, 40, 40);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.thumbnail:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.thumbnail img, .thumbnail iframe {
    width: 100%;
    height: auto;
    display: block;
}

a {
    display: block;
    margin: 10px;
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    .about-container {
        flex-direction: column; 
        text-align: center;
    }
    
    .about-container img {
        margin: 0 auto 20px;
        max-width: 100px;
    }

    #about-me {
        height: auto;
        width: 100%;
        padding: 20px; 
    }

    #page-content {
        flex-direction: column;
        margin-top: 20px; 
        padding: 10px;
    }
    
    .thumbnail {
        width: 100%;
    }
}